body {margin: 0; overflow-x: hidden;}
.main-header * {box-sizing: border-box;}
.main-header a, .main-header svg, .main-header .trans400, .main-header img, .main-header button {-o-transition: all .5s; -ms-transition: all .5s; -moz-transition: all .5s; -webkit-transition: all .5s; transition: all .5s; text-decoration: none;}
.main-header {color: #fff; font-family: 'Barlow', sans-serif; overflow-x: hidden;}
.main-header .top-header {border-bottom:8px solid #ffc000;padding:0px 0px 25px 0px;}
.main-header  .top-header .container {display: flex; padding: 0 15px; width: 1290px; max-width: 100%; margin: 0px auto;}
.main-header .logo {padding:30px 0px 0px 0px;margin-right:50px; width:250px; flex-grow: 0; flex-shrink: 0;}
.main-header .boxes {display: flex; flex-wrap: wrap; width: 100%;align-items:center;position:relative;}
.main-header .boxes .box {padding: 0 10px 10px 10px;}
.main-header .boxes .box.date-box {display:flex;align-items:center;width:36%; font-size: 12px; line-height: 17px; font-weight: 400; color: #d6d8da;}
.main-header .boxes .box.newsletter-box {width:34%; color:#d6d8da;text-align:right;font-size: 12px; line-height: 17px; font-weight: 400;}
.main-header .boxes .box.newsletter-box svg {display: inline-block; height: 17px; fill: #fff; vertical-align: bottom;position:relative;top:2px;margin-right:3px;}
.main-header .boxes .box.newsletter-box a {color: #ffc800; font-weight:600;margin-left:2px;}
.main-header .boxes .box.newsletter-box a:hover {color:white;}
.main-header .boxes .box.social-box {width: 30%;padding-top:15px;display: flex; justify-content: flex-end;}
.main-header .boxes .box.social-box .icon {display: block; margin: 0 0 10px 10px;}
.main-header .boxes .box.social-box .icon.twitter svg {height:18px;position:relative;top:2px;}
.main-header .boxes .box.social-box .icon svg {height: 20px; display: block; fill: #6c6c6c;}
.main-header .boxes .box.social-box .icon:hover svg {fill: #fff;}
.main-header .boxes .box.search-box {width: 70%;}
.main-header .boxes .box.search-box #top-search div {color:#1c1e1f;font-size:14px;font-weight:400;background:white;display:flex;justify-content:space-between;align-items:center;padding:0px 15px;-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;}
.main-header .boxes .box.search-box input[type=text]:focus {outline: none;}
.main-header .boxes .box.search-box #top-search div svg {height:20px; cursor: pointer;}
.main-header .boxes .box.search-box #top-search div input {border:0px;flex-grow:1;margin-right:50px;padding:15px 0px;}

.main-header .boxes .box.users-box {width: 30%; display: flex; justify-content: flex-end; padding: 0;align-items:center;}
.main-header .boxes .box.users-box>div {padding: 0 10px 10px 10px; position: relative;}
.main-header .boxes .box.users-box .account a, header.main-header.fixed .box.users-box .newsletter-box a {display: block; cursor: pointer; color:#d6d8da; text-transform: uppercase; font-weight:bold; font-size: 15px; line-height: 17px;}
.main-header .boxes .box.users-box .account a strong {min-width: 60px; display: inline-block;}
.main-header .boxes .box.users-box .account .user-menu {display: none; position: absolute; top: 100%; right: 0; background: #fff; border-radius: 5px; padding: 12px 20px; box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 1); z-index: 5; width: 250px;}
.main-header .boxes .box.users-box .account:hover .user-menu {display: block;}
.main-header .boxes .box.users-box .account .user-menu .menu-item {padding: 8px 0;}
.main-header .boxes .box.users-box .account .user-menu a {text-transform: none; display: block; color: #000; font-size: 16px; line-height: 20px; white-space: nowrap;}
.main-header .boxes .box.users-box .account .user-menu a svg {display: inline-block; fill: #000; height: 20px; margin: 0 5px 0 0;}
.main-header .boxes .box.users-box .account .user-menu .logout a svg .logout-1 {fill: none; stroke: #000; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2px; transition: stroke .4s;}
.main-header .boxes .box.users-box .account .user-menu a strong {display: inline-block; font-weight: 700;}
.main-header .boxes .box.users-box .account .user-menu .logout a {background: #ffc000; border-radius: 5px; text-align: center; padding: 10px 5px; text-transform: uppercase; font-size: 14px;}
.main-header .boxes .box.users-box .account .user-menu .logout a:hover {background: #3e4348; color: #fff;}
.main-header .boxes .box.users-box .account .user-menu .logout a:hover svg {fill: #fff;}
.main-header .boxes .box.users-box .account .user-menu .logout a:hover svg .logout-1 {stroke: #fff;}
.main-header .boxes .box.users-box .big-menu button {display: block; cursor: pointer; color: #d6d8da; text-transform: uppercase; font-weight:bold; font-size: 15px; line-height: 17px; padding: 0; outline: none; box-shadow: none; border: none; border-radius: 0; background: none;position:relative;top:-2px;}
.main-header .boxes .box.users-box svg {display: inline-block; height: 20px; fill: #d6d8da; vertical-align: bottom; margin: 0 0 0 5px;}
.main-header .boxes .box.users-box .navbar-toggle svg {height:24px;position:relative;top:4px;}
.main-header .boxes .box.users-box .account a:hover, .main-header .boxes .box.users-box .big-menu button:hover,header.main-header.fixed .box.users-box .newsletter-box a:hover {color: #ffc800;}
.main-header .boxes .box.users-box .account a:hover svg, .main-header .boxes .box.users-box .big-menu button:hover svg {fill: #ffc800;}

.main-header .mt_current {border:0px !important;}
.main-header .mt_current .mt_tr1_current {background:none !important;}
.main-header .mt_current .mt_c_name {display:none;}
.main-header .mt_current .mt_c_temp {font-family: 'Barlow', sans-serif !important;color:#d6d8da!important;font-weight:700 !important; font-size: 12px !important;padding-left: 0px !important;}
.main-header .mt_dc_current {margin-left:10px;}
.main-header .mt_trt_ltr .mt_trt_first {padding-right:2px !important;}
.main-header .mt_dc_current a {display:none !important;}

.main-menu {background: #efefef;}
.main-menu .menu {display: flex; flex-wrap: nowrap; justify-content: space-between; align-items: flex-start;position:relative;z-index:3;}
.main-menu .menu>.menu-item {width: 100%; text-transform: uppercase; font-size: 16px; line-height: 22px; font-weight: 800; text-align: center; margin: 0 -1px;}
.main-menu .menu>.menu-item>a {color: #202326; display: block; padding:16px 10px;position:relative;}
.main-menu .menu>.menu-item>a:after {content:"";display:inline-block;width:1px;height:54px;background:#dedede;position:absolute;top:50%;transform: translate(0,-50%);right:0px;}
header.main-header.fixed .main-menu .menu > .menu-item > a:after {height:15px;}
.main-menu .menu > .menu-item:last-child a:after,.main-menu .menu>.menu-item.active a:after {display:none;}

.main-menu .menu .menu-item .ico {margin: 0 0 10px 0; display: block;}
.main-menu .menu .menu-item .ico svg {display: block; margin: 0 auto; height: 40px; width: auto; fill: #202326;}
.main-menu .menu>.menu-item.active>a, .main-menu .menu>.menu-item>a:hover {background: #f2f2f2;}
.main-menu .menu>.menu-item>a:hover:after {display:none;}
.main-menu .menu>.menu-item.active {border-left: 1px solid #dedede;border-right: 1px solid #dedede;}
.main-menu .menu>.menu-item span.name {-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;display:inline-block;padding:3px 10px;}
.main-menu .menu>.menu-item.active span.name,.main-menu .menu>.menu-item>a:hover span.name {background:#fbcd40;}
.main-menu .external-submenu {background: #f2f2f2; color: #1c1e1f;border-top:1px solid #dedede;border-bottom:1px solid #dedede;position:relative;margin-top:-1px;}
.main-menu .external-submenu.external-home {background:white;}
.main-menu .external-submenu .submenu {display: flex; flex-wrap: nowrap; justify-content: flex-start;}
.main-menu .external-submenu .submenu .menu-item {font-size: 14px; line-height: 15px; font-weight:500;}
.main-menu .external-submenu .submenu .menu-item a {color: #1c1e1f; display: block; padding:20px 10px;}
.main-menu .external-submenu .submenu .menu-item.active a, .main-menu .external-submenu .submenu .menu-item a:hover {background: #1b1919; color: #fff;}
.main-menu .external-submenu .submenu .menu-item.item-name span {color: #1c1e1f; display: block; padding:20px 10px;text-transform:uppercase;}



.dropdown-menu {position:absolute;top:0px;width:100%;height:100vh;display:none;z-index:24;}
.dropdown-menu.open {display:flex;}
.dropdown-menu #white {position:absolute;background:white;width:100px;padding-right:300px;right:-100%;flex-grow:1;height:100vh;padding-top:20px;}
.dropdown-menu #black {position:absolute;background:black;width:700px;height:100vh;left:-100%;}
.main-header .logo {position:relative;z-index:25;}
.dropdown-menu #white .inside {display:flex;margin-left:65px;justify-content:space-between;}
.dropdown-menu #white .inside .column {padding:0px 10px;}
.dropdown-menu #white a {color:black;}
.dropdown-menu #white a:hover {color:#ffc800;}
.dropdown-menu #white .list {display:flex;}
.dropdown-menu #white .list .column {padding:0px;}
.dropdown-menu #white .list .column:nth-child(2) {padding-left:45px;}
.dropdown-menu #white ul {padding:0px;font-size:14px; margin: 12px 0;}
.dropdown-menu #white h4 {font-weight:600;margin:0px;font-size:17px;}
.dropdown-menu #white h3 {font-weight:800;text-transform:uppercase;font-size:20px;margin-bottom:25px;}
.dropdown-menu #white ul li {padding:4px 0px;}
.dropdown-menu #white .navbar-toggle-close {position:absolute;right:80px;top:30px;border:1px solid #a4a4a4;background:white;padding:6px 15px 10px 15px;-webkit-border-radius: 5px; -moz-border-radius: 5px;border-radius: 5px;text-transform:uppercase;font-weight:600;cursor:pointer;font-size:16px;}
.dropdown-menu #white .navbar-toggle-close svg {fill:#a4a4a4;margin-left:6px;position:relative;top:3px;}
.dropdown-menu #white .navbar-toggle-close:hover {color:#df2525;border-color:#df2525;}
.dropdown-menu #white .navbar-toggle-close:hover svg {fill:#df2525;}

.mobile .logo {z-index:5;}
.mobile .dropdown-menu #black {display:none;}
.mobile .dropdown-menu #white .inside {margin:0px;}
.mobile .dropdown-menu #white .inside,.mobile .dropdown-menu #white .list {flex-wrap:wrap;}
.mobile .dropdown-menu #white {padding-right:0px;padding-top:60px;}
.mobile .dropdown-menu #white .navbar-toggle-close {top:10px;right:10px;}
.mobile .dropdown-menu #white .inside .column {max-width:50%;}
.mobile .dropdown-menu #white .list .column:nth-child(2) {padding-left:0px;}
.mobile .dropdown-menu #white h3 {font-size:16px;font-weight:bold;margin-bottom:15px;}
.mobile .dropdown-menu #white h4 {font-size:14px;font-weight:500;}
.mobile .dropdown-menu #white {overflow-y:auto;}

.mobile #home-smaki .column-flex {display:block;}
.mobile #home-smaki .column-flex .left,.mobile #home-smaki .column-flex .right,.mobile #home-smaki .column-flex .left .list .news-item {width:100%;}
.mobile #home-smaki .column-flex .left .list .news-item h2 {font-size:21px;}
.mobile #home-smaki .column-flex .left .list .news-item h3 {font-size:11px;}
.mobile #home-w-obiektywie .thumbs .list-thumbs {display:none;}
.mobile #home-smaki .column-flex .left .list .news-item.news-big h3 {font-size:16px;}
.mobile #home-smaki .column-flex .left .list .news-item.news-big h2 {font-size:20px;line-height:26px;}
.mobile #home-smaki .column-flex .left .list .news-item.news-big .photo .box {padding:20px;}
.mobile #home-smaki .menu-item span.name {font-size:20px;}
.mobile .main-menu {display:none;}
.mobile .main-header .select_lang {margin-left:0px;margin-right:4px;margin-top:0px;}
.mobile .main-header .select_lang.open {margin-top:-25px;width:90px;}
.resinet-news-other .news-item.news-big .photo,.entertainment-news-list-2 .list .news-item.news-big .photo {width:100%;padding:0px;position:relative;}
.mobile header.main-header.fixed .boxes .box.newsletter-box {display:none;}
header.main-header.fixed {position:fixed;top:0px;width:100%;z-index:6;-webkit-box-shadow: 1px 3px 22px -18px rgba(28, 30, 31, 1);-moz-box-shadow: 1px 3px 22px -18px rgba(28, 30, 31, 1);box-shadow: 1px 3px 22px -18px rgba(28, 30, 31, 1);}
header.main-header.fixed .menu .menu-item .ico,header.main-header.fixed .boxes .box.date-box,header.main-header.fixed .boxes .box.newsletter-box span,header.main-header.fixed .boxes .social-box {display:none;}
header.main-header.fixed .logo {width:180px;padding-top:0px;margin-right:100px;}
header.main-header.fixed .boxes .box.search-box {padding-top:10px;width:45%;margin-right:20px;}
header.main-header.fixed .top-header {padding-bottom:0px;border-bottom:4px solid #ffc000;}
header.main-header.fixed .main-menu .external-submenu {border-bottom:1px solid #dedede;}
header.main-header.fixed .main-menu .external-submenu .submenu .menu-item a,header.main-header.fixed .main-menu .external-submenu .submenu .menu-item.item-name span {padding:10px;}
header.main-header.fixed .main-menu .menu > .menu-item > a {padding:8px 10px;font-size:14px;}
header.main-header.fixed .main-menu .external-submenu.external-home {display:none;}
header.main-header.fixed .boxes .box.newsletter-box {display:none;}
header.main-header.fixed .container {align-items:center;}
header.main-header.fixed .boxes .box.users-box > div {padding:0px;margin-left:30px;}
header.main-header.fixed .boxes .box.users-box {width:40%;flex-grow:1;}

.main-header .boxes .box.users-box .newsletter-box {display:none;}
header.main-header.fixed .box.users-box .newsletter-box {display:block;}
header.main-header.fixed .main-menu .external-submenu {display:none;}

.mobile .main-header .top-header {}
.mobile .select_lang .inside {margin-left:0px;margin-top:0px;}
.mobile .box.users-box .newsletter-subscribe svg {height:28px;}

.mobile .navbar-toggle-mobile.open svg.close {display:block;}
.mobile .navbar-toggle-mobile.open svg.open {display:none;}
.drop-mobile {background:white;position:absolute;width:100%;z-index:5;height:0px;padding-bottom:0px;overflow:hidden;}
.drop-mobile.open {overflow-y:auto;height:100vh;}
.drop-mobile.open #white {padding-bottom:80px;}
.drop-mobile a {display:block;color:black;}	
.drop-mobile .item ul {padding:0px;height:0px;opacity:0;margin:0px 10px 0px 30px;overflow:hidden;}
.drop-mobile .item h3 a {display:flex;padding:15px 10px;color:black;flex-grow:1;}
.drop-mobile .item h3 {display:flex;justify-content:space-between;align-items:center;color:black;}
.drop-mobile .item h3 span {display:block;padding:10px 10px 10px 50px;cursor:pointer;}
.drop-mobile .item h3 svg {width:20px;}
.drop-mobile .item {margin:0px 10px;border-bottom:1px solid #dbdbdb;}
.drop-mobile .item h3 {margin:0px;text-transform:uppercase;font-size:19px;font-weight:800;}
.drop-mobile .item.open ul {margin:0px 10px 10px 30px;opacity:1;height:auto;}
.drop-mobile .item ul li {padding:5px 0px;font-weight:500;}
.drop-mobile .item ul li.main {font-weight:700;}

.select_lang .inside {margin-left:24px;border:1px solid #909090;-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;padding:2px 7px 4px 12px;}
.select_lang ul {margin:0px;padding:0px;list-style:none;}
.select_lang ul li {display:none;color:#d6d8da;font-size:12px;font-weight:400;}
.select_lang ul li.active,.select_lang.open ul li.active {display:flex;align-items:flex-end;cursor:pointer;}
.select_lang ul li.active svg {width:15px;margin-left:5px;position:relative;top:2px;height:auto !important;}
.select_lang.open {position:relative;width:79px;}
.select_lang.open ul li {display:block;}
.select_lang.open .inside {position:absolute;top:0px;z-index:30;background:#1c1e1f;}
.select_lang.open .inside li a {display:block;color:#d6d8da;font-weight:500;padding:6px 0px;text-align:left;}
.select_lang.open ul li.active {font-weight:500;padding-bottom:8px;}
.select_lang.open ul li.active svg {-webkit-transform: rotate(90deg);-moz-transform: rotate(180deg);-o-transform: rotate(180deg);-ms-transform: rotate(180deg);transform: rotate(180deg);}
.select_lang.open .inside li a:hover {color:#ffc800;}
.select_lang.open ul li.active svg {top:0px;}

.mobile .main-header .logo .logo_link svg {width: 140px;}
.mobile .main-header .top-header .container {flex-wrap: wrap;justify-content: space-between;}
.mobile .box.users-box {width: 30%;flex-grow: 1;margin-left: 20px;display: flex;justify-content: flex-end;padding: 0;align-items: center;}
.mobile .main-header .logo {margin: 0px;width: 100%;padding: 0px 0px 10px 0px;display: flex;justify-content: space-between;}
.mobile .main-header .top-header {padding: 12px 0px;}
.mobile .box.users-box svg {display: inline-block;height: 18px;fill: #d6d8da;vertical-align: bottom;margin: 0 0 0 20px;}
.mobile .main-header .boxes .box.search-box {width: 75%;padding: 0px;}
.mobile #top-search {margin:0px;}
.mobile .big-menu {margin-left: 10px;}
.mobile .big-menu button {display: block;cursor: pointer;color: white;text-transform: uppercase;font-weight: bold;font-size: 14px;line-height: 17px;padding: 7px;outline: none;box-shadow: none;-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;border: 1px solid #ffc000;background: none;}
.mobile .big-menu button svg {display: inline-block;width: 25px;fill: white;vertical-align: bottom;margin: 2px 4px;}
.mobile .big-menu button svg.close {display: none;}
.mobile .main-header .boxes {justify-content: space-between;}
.mobile .main-header .select_lang {margin-left: 0px;margin-right: 4px;margin-top: 0px;}
.mobile .select_lang .inside {padding: 2px 5px 4px 5px;}
.mobile .box.users-box .select_lang svg {margin-left: 3px;}